@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

button {
  border: none;
  border-width: 0px;
  box-shadow: none;
}

p, label, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: Manrope, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.headline {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-semibold {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-medium {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.additional-semibold {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.additional-medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width:767px) {
  .headline {
    font-size: 18px;
  }
  
  .main-semibold {
    font-size: 16px;
  }
  
  .main-medium {
    font-size: 16px;
  }
  
  .additional-semibold {
    font-size: 14px;
  }
  
  .additional-medium {
    font-size: 14px;
  }
  
  .caption {
    font-size: 10px;
    font-weight: 600;
  }
}
